
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Basic Shelf Sort</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='styles/cover.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Shelf Space</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link active" href="#">Shelf Sort</a>
            <a class="nav-link" href="#">Advanced Sort</a>
          </nav>
        </div>
      </header>
	  
	  <div class="userInputs">
		  <main role="main" class="inner cover">
			<h1 class="cover-heading">Basic Sort!</h1>
			<form method="POST" action=/shelfsort>
			  <label for="usr" class="lead">Please Enter Your BGG Username below:</label>
			  <div class="input-group" id="inputTag">
				<input type="text" class="form-control width100" id="usr" name="username">
				<button type="submit" class="btn lead btn-secondary" id="submit">Submit</button>
			  </div>
			</form>
		  </main>
	  </div>
	  
	  <div class="games">
		{% for grouping in games %}
			{% set outer_loop = loop %}
			{% if outer_loop.index % 3 == 1 %}
				<div class="row">
			{% endif %}
			{% for game in grouping %}	
				{% if loop.index == grouping|length %}
						<div>
							<div>
								<span>{{ game[0] }}</span>
								<img src={{ game[1] }}>
							</div>
						</div>						
					</div>
				{% elif loop.index == 1 %}
					<div class="col-xl-4 grouping">
						<div>
							<span>{{ game[0] }}</span>
							<img src={{ game[1] }}><br />
						</div>
				{% else %}
					<div>
						<span>{{ game[0] }}</span>
						<img src={{ game[1] }}><br />
					</div>
				{% endif %}
			{% endfor %}
			{% if outer_loop.index % 3 == 0 or outer_loop.index == games|length %}
				</div>
			{% endif %}
		{% endfor %}
	  </div>
	  <div id="allImages">
		{% for grouping in games %}
			{% for game in grouping %}	
				<img id={{ game[0] }} src={{ game[1] }}>
			{% endfor %}
		{% endfor %}
	  </div>
      <footer class="mastfoot mt-auto">
      </footer>
    </div>

	

	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
	
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	
	<script>
		$(document).ready(function(){
			
			$("span").hover(function(){
				//$gameName = $(this).text();
				
				//$game = $( "#" + $gameName );
				//$game.stop(1,1).fadeIn(400);
				$game = $(this).siblings('img');
				
				$game.show();
				$game.offset({
					top: e.pageY - $game.outerHeight(),
					left: e.pageX - ($game.outerWidth()/2)
				}); 
			},function(){
				//alert($game.offset.left + ", " + $game.offset.top + " )" );
				$game.hide();
				//$game.fadeOut(400);
			});
			
		});
	</script>
	
  </body>
</html>
